
.goodfest {
  font: 100%/1.25 "Proxima Nova W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.goodfest a {
  color: inherit;
}

.goodfest h1,
.goodfest h2,
.goodfest h3,
.goodfest h4,
.goodfest h5,
.goodfest h6,
.goodfest strong,
.goodfest b {
  font-weight: inherit;
  font-family: inherit;
}
.goodfest-ad img {
  max-width: 100%;
  height: auto;
}

.goodfest .action a {
  background: rgb(204, 204, 204);
  padding: 0.75em 1.5em;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0.375em 0.375em 0 black;
  border-width: 0;
  font-size: inherit;
  font-family: inherit;
  transition: all 0.2s;
  width: auto;
}
.goodfest .action a {
  padding: 0.375em 0.75em;
}
.goodfest .action a:not([href]) {
  cursor: default;
}
.goodfest .action a[href]:hover,
.goodfest .action a[href]:active,
.goodfest .action a[href]:focus {
  box-shadow: 0 0 0 black;
}
.goodfest .action ul,
.goodfest .action li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.goodfest .action ul {
  margin-top: 0.375em;
  font-size: 0.75em;
}
.goodfest .action li {
  display: inline-block;
  margin-right: 0.375em;
  margin-bottom: 0.75em;
}
.goodfest .yellow .action a {
  background: rgb(255, 196, 12); /* @yellow */
}
.goodfest .red .action a {
  background: rgb(241, 97, 77); /* @red */
}
.goodfests .blue .action a {
  background: rgb(0, 84, 206); /* @blue */
  background: rgb(0, 94, 229); /* @light-blue */
}
.goodfest .green .action a {
  background: rgb(0, 174, 113); /* @green */
}
.goodfest .pink .action a {
  background: rgb(247, 170, 179); /* @pink */
}

/* =Ad
----------------------------------------------- */
.goodfest-ad {
  padding: 1.5em;
  text-align: center;
  background: black;
  color: white;
  padding-top: 3em;
  padding-bottom: 3.75em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeYAAACCCAYAAACTgWs3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyppVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTMyIDc5LjE1OTI4NCwgMjAxNi8wNC8xOS0xMzoxMzo0MCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4QzZFQjAyNTk3QzQxMUU2QUNGOTg3MkVDNkRDOUVENyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4QzZFQjAyNjk3QzQxMUU2QUNGOTg3MkVDNkRDOUVENyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBGRTdDN0U4OTdDNDExRTZBQ0Y5ODcyRUM2REM5RUQ3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjhDNkVCMDI0OTdDNDExRTZBQ0Y5ODcyRUM2REM5RUQ3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+F4pkuQAABTVJREFUeNrs3TtrFF0Ax+GJxEsIGAU1RMWooI0WEvULCFpEAzb6BbwUVgoWFgFB0E6ws0i+gHVKQbQVvBRaiRobxQtq4g00up7JpgjDjKhsZmfmPA+cZhd0s5vsL//3XXd7Wq1WAgBUwzJ3AQAIMwAgzAAgzACAMAOAMAMAwgwAwgwACDMACDMAIMwAIMwAgDADAMIMAMIMAAgzAAgzACDMACDMAIAwA4AwAwDCDADCDAAIMwBEprebf/mb4RMd/fOm+saievBO7h6u6k3rD2c6nHU5110L51zlfzCO74zyCWGud7wyt6U1ONGY+3Vm8oDaLLGVo6c79metOnbEYqZx1hdEObVNlAGEuZEmH71wJwAIMzSXtQwIM1YzAMIM1jIgzFjNAAgzWMuAMGM1AyDMYC0DwozVDIAwg7UMCDNWMwDCTK28DeddwXXPrWUAYbaay/UlnKFw1mbOQFKRT5YSZUCYiS3Oc+F8zJxZUQYQZnFGlAFhRpxFGUCYEWdRBoQZcRZlAGFGnEUZOqs/nDU5B2FGnEUZSrYjaf/riQ8557y7R5gRZ1GmMQZO3qrDzdyU/ugUXLfZoyjMiLMoA39l5ehpYUacRRkauZoRZsRZlAFrWZi743A498J5mDm3w1knzqKM1Qzzz2dN+mLGvk0lU31jVb15B8MZKbhu90KgEWUg4rVsMVP71SzKWM0Icw1WM5YyYC0LM1ZzvM4m7TdhyH7M5dOk/TnUYDUTd5itZmu5ZHuS9tsWDmTO9nCGPVpgLVvMWM38s7necXeC1YwwW83Ufi0D1rIwYzVjLVvNHfc8ab82IutnOI89WsJsNWMtI87lSn8jT1+s2JM56ftdTFjLwozVjLUszkQX5SjCbDVbyyDOoizMWM1Yy4izKAtzxVfz5z9cN+PHz1oGcRbl+ec7D31proRzM2m/mGKx2XAeuHuwllkc55nJA6IcqWj+U3YFVvPXcO4k7U+RWnzuexqylsFyFuXowlyROIO1jDiLsjCLs7W8xN4UXP79D9eBOIuyMIszS+RCOFvD2ZY5Q+G8tJYRZ1EWZnGmXL+S9rsmTWfOe1FGnEVZmMUZRFmcRVmYxRlEGXEWZWEWZxBlcRZlYRZnEGXEWZSFWZxBlKl9nCsU5S3hHM05I92+Yd6SMyfOU31j7ghEmdrEOfa37/xP6WdMH8q5/Ec4K2JezHfD+ZhzrlrOIMoVMF7wHPUonD53T23X8vzNKbh8ebdvWLfDvD/9hS/n7PUtDHFHuef1qSrcjH0Fz1G7whms0mqmOfw/ZqsZUYbY1rIwA6Jc49VcC1azMFvNIMpgLQszEFuUrWarWZixmhFlsJaFGRBlq9lqRpitZkQZrGVhBkTZaraaEWarGVEGa1mYAVG2mq1m/p4PsfjH1ewDLhBlaMRavlFw+ZPYw5y+GfyanMvf+daGykY5fZP//sxlP8P5VNZqbg1OlPW1vi24/Gs4H+qwmn3yVKHrC8diztgaztqcy19ZzYhyJaO8YWFRrM657mI4lxr2MJwJ53LO5TMLBxoXZt/cUC8bC6Kc2t7Arzf9bN5pDztl8uIvsJZrx4vAEGYAQJjBWsZqRpgBAGEGrGWrGYQZAIQZsJatZhBmABBmwFq2mkGYAUCYAWvZagZhBsrzMpzZguueuXugA79ktlot9wIAWMwAgDADgDADAMIMAMIMAAgzAAgzACDMACDMAIAwA4AwAwDCDADCDAAIMwAgzAAgzACAMAOAMAMAwgwAwgwACDMACDMAIMwAIMwAQFf8FmAARkd54Me/JFgAAAAASUVORK5CYII=);
  background-size: 243px auto;
}
.goodfest-ad h2 {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-weight: inherit;
  font-size: 1.5em;
  margin-bottom: 1em;
}


/* =Header
----------------------------------------------- */
.goodfest-header {
  background: black;
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.goodfest-header.has-return-link {
  padding-top: 60px;
}
.goodfest-header h1,
.goodfest-header h1 + p,
.goodfest-header .countdown {
  position: relative;
  z-index: 1;
}
.goodfest-header h1 + p {
  margin-top: 0.625em;
}
.goodfest-header .shape.green {
  position: absolute;
  top: 0;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 15vw;
}
@media (min-width: 40em) {
  .goodfest-header .shape.green {
    left: 75%;
    transform: translate(-80%, -50%);
  }
}
.goodfest-header .shape.red {
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: translate(50%, 0);
  height: 25vw;
}
.goodfest-header .shape.yellow {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translate(-40%, 50%);
  height: 15vw;
}
/* SHIM: Hide the yellow shape on small screens, since it looks odd above the video */
@media (max-width: 60em) {
  .goodfest-header:not(.goodfest-header-for-shows) .shape.yellow {
    display: none;
  }
}
.content-area .goodfest-header,
.content-area .goodfest-ad {
  margin-left: -20px;
  margin-right: -20px;
}
@media (min-width: 768px) {
  .content-area .goodfest-header,
  .content-area .goodfest-ad {
    margin-left: -60px;
    margin-right: -60px;
  }
}
.goodfest-header h1 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  display: table;
}
.goodfest-header h1 svg {
  height: 5em;
  width: 4.2253521127em; /* 168 / 198.8 * 5em */
}
.goodfest-header .return {
  position: absolute;
  top: 10px;
  left: 20px;
}
.goodfest-header .return a {
  display: block;
}
.goodfest-header .return svg {
  display: inline;
  margin-right: 0.25em;
}
.goodfest-header .return svg polygon {
  fill: currentColor;
}
.goodfest-header .return a:hover,
.goodfest-header .return a:active,
.goodfest-header .return a:focus {
  color: rgb(255, 196, 12); /* @yellow */
}
@media (min-width: 62.5em) {
  .goodfest-header h1 svg {
    height: 8.125em; /* 130px / 16px */
    width: 6.8661971831em; /* 168 / 198.8 * 10.625em */
  }
}
@media (min-width: 60em) {
  .goodfest-header {
    padding: 40px 60px;
  }
  .goodfest-header.has-return-link {
    padding-top: 60px;
  }
  .goodfest-header .return {
    position: absolute;
    top: 20px;
    left: 60px;
  }
  .goodfest-header h1 svg {
    height: 10.625em; /* 170px / 16px */
    width: 8.9788732394em; /* 168 / 198.8 * 10.625em */
  }
}
.goodfest-header .countdown {
  position: absolute;
  top: 30px;
  right: 30px;
}
.goodfest-header.has-return-link .countdown {
  top: 58px;
}
.goodfest-header .countdown .arrow {
  margin-top: 0.625em;
  height: 2.5em;
}
@media (min-width: 60em) {
  .goodfest-header .countdown {
    width: 300px;
  }
  .goodfest-header-for-shows .countdown {
    top: 90px;
  }
  /*
  .goodfest-header:not(.goodfest-header-for-shows) .countdown .arrow {
    display: inline !important;
  }
  */
}
.goodfest-header .countdown h2 {
  margin-top: 0;
}
@media (max-width: 60em) {
  .goodfest-header .countdown h2,
  .goodfest-header .countdown dl {
    font-size: 0.875em;
  }
}
.goodfest-header h1 + p {
  max-width: 40em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
}
.goodfest-header h1 + p span {
  display: inline-block;
}
@media (min-width: 40em) {
  @supports (transform: translate(-50%, -50%)) {
    .goodfest-header h1 + p {
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@media (min-width: 60em) {
  .goodfest-header h1 + p {
    font-size: 2em;
  }
}
.goodfest-header h2 {
  color: rgb(219, 50, 54);
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 0;
}
.goodfest-header dl {
  margin: 0.375em 0 0;
  display: inline-block;
  vertical-align: top;
  min-width: 3em;
}
.goodfest-header dt {
  margin-top: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.25em;
}
.goodfest-header dd {
  color: rgb(0, 84, 206); /* @blue */
  margin-left: 0;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* SHIM: Reduce the space below the header on the GOODFest page. */
.goodfest-header ~ .wrapper .abovehero,
.goodfest-header ~ .wrapper .no-hero-spacer {
  height: auto;
}

.goodfest-header.without-counter h1 {
  float: left;
}
.goodfest-header.without-counter h1 + p {
  margin-top: 0;
  margin-left: 75px;
  text-align: right;
  margin-right: 0;
}
.goodfest-header.without-counter h1 + p span {
  display: inline;
}
.goodfest-header.without-counter:not(.has-return-link) h1 + p {
  margin: 0;
  padding: 0 20px 0 105px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-width: none;
  box-sizing: border-box;
  margin-top: -0.625em; /* @line-height / 2 */
}
@supports (transform: translate(-50%, -50%)) {
  .goodfest-header.without-counter:not(.has-return-link) h1 + p {
    margin-top: 0;
    transform: translate(0, -50%);
  }
}
@media (min-width: 25em) {
  .goodfest-header.without-counter                       h1 + p,
  .goodfest-header.without-counter:not(.has-return-link) h1 + p {
    margin: 0;
    padding: 0 105px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    margin-top: -0.625em; /* @line-height / 2 */
    text-align: center;
  }
  @supports (transform: translate(-50%, -50%)) {
    .goodfest-header.without-counter                       h1 + p,
    .goodfest-header.without-counter:not(.has-return-link) h1 + p {
      margin-top: 0;
      transform: translate(0, -50%);
    }
  }
}
@media (min-width: 60em) {
  .goodfest-header.without-counter                       h1 + p,
  .goodfest-header.without-counter:not(.has-return-link) h1 + p {
    padding: 0 230px;
  }
}


/* =Video
----------------------------------------------- */
.goodfest-video {
  background-color: black;
  text-align: center;
}
@media (min-width: 60em) {
  .goodfest-video {
    background-color: transparent;
    padding: 0;
    position: absolute;
    z-index: 1;
    right: 30px;
    margin-top: -80px;
  }
}


/* =Video List
----------------------------------------------- */
.goodfest-video-list {
  background: black;
  padding: 0 20px 20px;
}

.content-area .goodfest-video-list {
  margin-left: -20px;
  margin-right: -20px;
}

.goodfest-video-list > div {
  margin: 0;
  border-top: 1px solid black;
  width: 100%;
}
.goodfest-video-list > div + div {
  padding-top: 20px;
}

.goodfest-video-list > div > div {
  max-width: 100%;
  padding-bottom: 56.25%; /* 720px / 1280px */
  position: relative;
}

@media (min-width: 600px) {
  .goodfest-video-list {
    padding: 0 10px 20px;
  }
  .goodfest-video-list > div + div {
    padding-top: 0;
  }
  .goodfest-video-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .goodfest-video-list > div {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  .content-area .goodfest-video-list {
    margin-left: -60px;
    margin-right: -60px;
  }
}
@media (min-width: 960px) {
  .goodfest-video-list {
    padding: 0 50px 40px;
  }
}

.goodfest-video-list iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.goodfest-video-list .video-link a {
  max-width: 768px;
  display: block;
  position: relative;
}
.goodfest-video-list .video-link a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.goodfest-video-list .video-link h3 {
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  line-height: 1;
  margin: -0.5em 0 0;
}
.goodfest-video-list .video-link ul,
.goodfest-video-list .video-link li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.goodfest-video-list .video-link a:after {
  content: "";
  display: table;
  clear: both;
}
.goodfest-video-list .video-link li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}
.goodfest-video-list .video-link li:nth-child(2n+1) {
  clear: both;
}
.goodfest-video-list .video-link li:first-child {
  padding-left: 0;
}
.goodfest-video-list .video-link li:last-child {
  padding-right: 0;
}
.goodfest-video-list .video-link img {
  display: block;
  width: 100%;
  height: auto;
}


/* =Video Page
----------------------------------------------- */
.goodfest-video-page-list {
  background: black;
  color: white;
  padding: 1px 20px 60px;
}
@media (min-width: 768px) {
  .goodfest-video-page-list {
    padding: 1px 60px 10em;
  }
}
.goodfest-video-page-list ul {
  margin: 0 auto;
}
.goodfest-video-page-list li {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
}
.goodfest-video-page-list .video {
  margin: 1.25em 0 0.625em;
}
.goodfest-video-page-list .video > div {
  max-width: 100%;
  padding-bottom: 56.25%; /* 720px / 1280px */
  position: relative;
}
.goodfest-video-page-list .video img,
.goodfest-video-page-list .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.goodfest-video-page-list .video img {
  object-fit: cover;
  object-position: top;
}
@media (min-width: 60em) {
  .goodfest-video-page-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .goodfest-video-page-list li {
    width: 48%;
    max-width: none;
    margin: 0em 1% 0 1%;
  }
}
@media (min-width: 100em) {
  .goodfest-video-page-list li {
    width: 30%;
    margin: 1.25em 1.66665% 0 1.66665%;
  }
}
