
/* =Elements
----------------------------------------------- */
body {
  font: 100%/1.25 "Circular Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}

/*
@media (min-width: 400px) and (min-height: 200px) {
  body {
    font-size: 112.5%;
  }
}

@media (min-width: 500px) and (min-height: 250px) {
  body {
    font-size: 125%;
  }
}

@media (min-width: 1000px) and (min-height: 50px) {
  body {
    font-size: 137.5%;
  }
}

@media (min-width: 1500px) and (min-height: 750px) {
  body {
    font-size: 150%;
  }
}
*/

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: inherit;
}
/* For demonstration purposes */
body > .ad img {
  max-width: 100%;
  height: auto;
}
body a {
  color: inherit;
}
.action a,
button {
  background: rgb(204, 204, 204);
  padding: 0.75em 1.5em;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0.375em 0.375em 0 black;
  border-width: 0;
  font-size: inherit;
  font-family: inherit;
  transition: all 0.2s;
  cursor: pointer;
}
button {
  font-size: 1.25em;
}
.action a:hover,
.action a:active,
.action a:focus,
button:hover,
button:active,
button:focus {
  box-shadow: 0 0 0 black;
}
.action ul,
.action li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.action li {
  display: inline-block;
  margin-right: 0.375em;
  margin-bottom: 0.75em;
}
.yellow .action a {
  background: rgb(255, 196, 12); /* @yellow */
}
.red .action a {
  background: rgb(241, 97, 77); /* @red */
}
.blue .action a {
  background: rgb(0, 84, 206); /* @blue */
  background: rgb(0, 94, 229); /* @light-blue */
}
.green .action a {
  background: rgb(0, 174, 113); /* @green */
}
.pink .action a {
  background: rgb(247, 170, 179); /* @pink */
}

/* =Ad
----------------------------------------------- */
footer,
body >.ad {
  padding: 1.5em;
  background-color: rgb(232, 232, 232);
  color: black;
  text-align: center;
}
footer,
body > section + .ad {
  background: black;
  color: white;
  padding-top: 3em;
  padding-bottom: 3.75em;
}
body > section + .ad,
footer {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeYAAACCCAYAAACTgWs3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyppVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTMyIDc5LjE1OTI4NCwgMjAxNi8wNC8xOS0xMzoxMzo0MCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4QzZFQjAyNTk3QzQxMUU2QUNGOTg3MkVDNkRDOUVENyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4QzZFQjAyNjk3QzQxMUU2QUNGOTg3MkVDNkRDOUVENyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBGRTdDN0U4OTdDNDExRTZBQ0Y5ODcyRUM2REM5RUQ3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjhDNkVCMDI0OTdDNDExRTZBQ0Y5ODcyRUM2REM5RUQ3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+F4pkuQAABTVJREFUeNrs3TtrFF0Ax+GJxEsIGAU1RMWooI0WEvULCFpEAzb6BbwUVgoWFgFB0E6ws0i+gHVKQbQVvBRaiRobxQtq4g00up7JpgjDjKhsZmfmPA+cZhd0s5vsL//3XXd7Wq1WAgBUwzJ3AQAIMwAgzAAgzACAMAOAMAMAwgwAwgwACDMACDMAIMwAIMwAgDADAMIMAMIMAAgzAAgzACDMACDMAIAwA4AwAwDCDADCDAAIMwBEprebf/mb4RMd/fOm+saievBO7h6u6k3rD2c6nHU5110L51zlfzCO74zyCWGud7wyt6U1ONGY+3Vm8oDaLLGVo6c79metOnbEYqZx1hdEObVNlAGEuZEmH71wJwAIMzSXtQwIM1YzAMIM1jIgzFjNAAgzWMuAMGM1AyDMYC0DwozVDIAwg7UMCDNWMwDCTK28DeddwXXPrWUAYbaay/UlnKFw1mbOQFKRT5YSZUCYiS3Oc+F8zJxZUQYQZnFGlAFhRpxFGUCYEWdRBoQZcRZlAGFGnEUZOqs/nDU5B2FGnEUZSrYjaf/riQ8557y7R5gRZ1GmMQZO3qrDzdyU/ugUXLfZoyjMiLMoA39l5ehpYUacRRkauZoRZsRZlAFrWZi743A498J5mDm3w1knzqKM1Qzzz2dN+mLGvk0lU31jVb15B8MZKbhu90KgEWUg4rVsMVP71SzKWM0Icw1WM5YyYC0LM1ZzvM4m7TdhyH7M5dOk/TnUYDUTd5itZmu5ZHuS9tsWDmTO9nCGPVpgLVvMWM38s7necXeC1YwwW83Ufi0D1rIwYzVjLVvNHfc8ab82IutnOI89WsJsNWMtI87lSn8jT1+s2JM56ftdTFjLwozVjLUszkQX5SjCbDVbyyDOoizMWM1Yy4izKAtzxVfz5z9cN+PHz1oGcRbl+ec7D31proRzM2m/mGKx2XAeuHuwllkc55nJA6IcqWj+U3YFVvPXcO4k7U+RWnzuexqylsFyFuXowlyROIO1jDiLsjCLs7W8xN4UXP79D9eBOIuyMIszS+RCOFvD2ZY5Q+G8tJYRZ1EWZnGmXL+S9rsmTWfOe1FGnEVZmMUZRFmcRVmYxRlEGXEWZWEWZxBlcRZlYRZnEGXEWZSFWZxBlKl9nCsU5S3hHM05I92+Yd6SMyfOU31j7ghEmdrEOfa37/xP6WdMH8q5/Ec4K2JezHfD+ZhzrlrOIMoVMF7wHPUonD53T23X8vzNKbh8ebdvWLfDvD/9hS/n7PUtDHFHuef1qSrcjH0Fz1G7whms0mqmOfw/ZqsZUYbY1rIwA6Jc49VcC1azMFvNIMpgLQszEFuUrWarWZixmhFlsJaFGRBlq9lqRpitZkQZrGVhBkTZaraaEWarGVEGa1mYAVG2mq1m/p4PsfjH1ewDLhBlaMRavlFw+ZPYw5y+GfyanMvf+daGykY5fZP//sxlP8P5VNZqbg1OlPW1vi24/Gs4H+qwmn3yVKHrC8diztgaztqcy19ZzYhyJaO8YWFRrM657mI4lxr2MJwJ53LO5TMLBxoXZt/cUC8bC6Kc2t7Arzf9bN5pDztl8uIvsJZrx4vAEGYAQJjBWsZqRpgBAGEGrGWrGYQZAIQZsJatZhBmABBmwFq2mkGYAUCYAWvZagZhBsrzMpzZguueuXugA79ktlot9wIAWMwAgDADgDADAMIMAMIMAAgzAAgzACDMACDMAIAwA4AwAwDCDADCDAAIMwAgzAAgzACAMAOAMAMAwgwAwgwACDMACDMAIMwAIMwAQFf8FmAARkd54Me/JFgAAAAASUVORK5CYII=);
  background-size: 243px auto;
}
body > section + .ad h2,
footer h2 {
  background-color: rgba(0, 0, 0, 0.75);
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-weight: inherit;
}
body > section + .ad h2 {
  margin-top: 0;
}
footer ul,
footer li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
footer li {
  display: inline;
  margin-left: 0.375em;
  margin-right: 0.375em;
  font-size: 0.875em;
  text-transform: uppercase;
}
footer a {
  text-decoration: none;
}
footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: underline;
}
footer p {
  font-size: 0.875em;
  opacity: 0.5;
}

/* =Header
----------------------------------------------- */
header {
  text-align: center;
  position: relative;
  padding: 1.5em;
}
header h1 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}
header h1 svg {
  height: 5em;
  width: 4.2253521127em; /* 168 / 198.8 * 5em */
}
@media (min-width: 60em) {
  header {
    padding-left: 9em;
    padding-right: 9em;
  }
  header h1 svg {
    height: 8.125em; /* 130px / 16px */
    width: 6.8661971831em; /* 168 / 198.8 * 10.625em */
  }
}
@media (min-width: 80em) {
  header {
    padding-left: 12em;
    padding-right: 12em;
  }
}
@media (min-width: 100em) {
  header {
    padding-left: 15em;
    padding-right: 15em;
  }
  header h1 svg {
    height: 10.625em; /* 170px / 16px */
    width: 8.9788732394em; /* 168 / 198.8 * 10.625em */
  }
}
header .countdown {
  position: absolute;
  top: 2em;
  right: 1.5em;
}
@media (min-width: 60em) {
  header {
    padding-top: 3.75em;
    padding-bottom: 3.75em;
  }
  header .countdown {
    top: 3em;
    right: 9em;
  }
}
@media (min-width: 60em) {
  header .countdown {
    right: 9em;
  }
}
@media (min-width: 100em) {
  header .countdown {
    right: 15em;
  }
}
header .countdown h2 {
  margin-top: 0;
}
header p {
  max-width: 40em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
header p span {
  display: inline-block;
}
header h2 {
  color: rgb(219, 50, 54);
  text-transform: uppercase;
  font-size: inherit;
  margin-bottom: 0;
}
@media (max-width: 80em) {
  header .countdown h2,
  header .countdown dl {
    font-size: 0.875em;
  }
}
@media (min-width: 40em) {
  header h2,
  header p {
    font-size: 1.5em;
  }
  header p {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 100em) {
  header h2,
  header p {
    font-size: 2em;
  }
}
header dt {
  margin-top: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
}
@media (min-width: 100em) {
  header dt {
    font-size: 1.875em;
  }
}
header dd {
  color: rgb(0, 84, 206); /* @blue */
  margin-left: 0;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 0.875em;
}
header dl {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  min-width: 3em;
}

/* =Video
----------------------------------------------- */
.video {
  max-width: 100%;
  margin-bottom: 1.5em;
  position: relative;
}
@media (min-width: 60em) {
  .video {
    padding-left: 6em;
    padding-right: 6em;
  }
  .video .cloud {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translate(5%, -50%);
    height: 15vw;
  }
  .video .corner {
    display: block !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20vw;
    height: 20vw;
    transform: translate(-32.5%, 37.5%);
  }
  .video .sun {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-50%, 12%);
    height: 13.5vw;
  }
}
@media (min-width: 80em) {
  .video {
    padding-left: 9em;
    padding-right: 9em;
  }
}
@media (min-width: 100em) {
  .video {
    padding-left: 12em;
    padding-right: 12em;
  }
}
.video > div {
  max-width: 100%;
  padding-bottom: 56.25%; /* 720px / 1280px */
  position: relative;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =Reminder
----------------------------------------------- */
.reminder,
.social,
footer {
  padding: 1.5em;
}
.reminder,
.social {
  background-color: rgb(247, 170, 179); /* @pink */
  color: black;
}
.reminder h2 {
  font-size: 1.875em;
  max-width: 12em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.reminder h3 {
  margin-bottom: 0;
}
.reminder .email {
  margin-top: 3em;
  margin-bottom: 0;
}
.reminder .email label > span:first-child {
  display: block;
  margin-bottom: 0.375em;
}
.reminder .email label br {
  display: none;
}
.reminder .checkbox {
  margin-top: 0.375em;
}
.reminder form {
  max-width: 33em;
  margin-left: auto;
  margin-right: auto;
}
.reminder input[type="text"],
.reminder input[type="email"] {
  font-size: inherit;
  font-family: inherit;
  padding: 0.75em;
  border-width: 0;
  width: 100%;
  box-sizing: border-box;
}
.reminder input[type="checkbox"] {
  font-size: inherit;
}
.reminder .submit {
  text-align: right;
}
.reminder button {
  background: white;
  color: black;
}
@media (min-width: 60em) {
  .reminder h2 {
    font-size: 4.5em;
    text-align: center;
  }
  .reminder h3 {
    font-size: 2em;
  }
  .reminder li {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

/* =Social
----------------------------------------------- */
.social h2 {
  /* @hidden-accessible */
  position: absolute;
  left: -9999px;
}
.social ul,
.social li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.social ul {
  text-align: center;
  margin-bottom: 3em;
}
.social li {
  display: inline;
  margin-left: 0.375em;
  margin-right: 0.375em;
  font-size: 1.5em;
}
@media (min-width: 60em) {
  .social li {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
.social li a {
  display: inline-block;
  padding: 0.75em;
  background: black;
  color: white;
  border-radius: 50%;
  transition: all 0.2s;
}
.social li a:hover,
.social li a:active,
.social li a:focus {
  background-color: rgb(0, 84, 206); /* @blue */
}
.social li svg {
  display: block;
}
.social li svg path {
  fill: currentColor;
}

/* =Shows
----------------------------------------------- */
.shows > h2 {
  margin-top: 1em;
  font-size: 2em;
  max-width: 33em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.shows > h2 span {
  display: inline-block;
}
.shows > p {
  color: rgb(151, 154, 170);
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 60em) {
  .shows > h2 {
    font-size: 3em;
  }
  .shows > p {
    font-size: 1.25em;
  }
}
.shows > div {
  background: white;
  color: black;
  padding: 3.75em 0 3em;
}
.shows ol,
.shows li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.shows ol {
  margin-top: 0;
}
.shows ol > li {
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-sizing: border-box;
}
.shows ol > li .media {
  text-align: center;
  margin-bottom: 2.5em;
}
@media (min-width: 40em) {
  .shows ol {
    margin-left: 0;
    margin-right: 0;
  }
  .shows ol:after {
    content: "";
    display: table;
    clear: both;
  }
  .shows ol > li {
    float: left;
    width: 50%;
    /*
    margin-bottom: 15em;
    */
    position: relative;
  }
  .shows ol > li:last-child {
    margin-bottom: 0;
  }
  /*
  .shows ol > li .media {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 3em;
  }
  */
  .shows ol > li:nth-child(2n) {
    float: right;
  }
  /*
  .shows ol > li:nth-child(2n) .media {
    top: auto;
    bottom: 3em;
    left: auto;
    right: 100%;
  }
  .shows ol > li:nth-child(2) {
    margin-top: 21em;
  }
  */
  .shows ol > li .media {
    display: none;
  }
  .shows ol > li .media[style] {
    display: block !important;
  }
}
@media (min-width: 60em) {
  .shows ol {
    margin-left: 6em;
    margin-right: 6em;
  }
}
@media (min-width: 80em) {
  .shows ol {
    margin-left: 9em;
    margin-right: 9em;
  }
}
@media (min-width: 100em) {
  .shows ol {
    margin-left: 12em;
    margin-right: 12em;
  }
}
.shows h3 {
  font-weight: normal;
  text-transform: uppercase;
}
.shows h5 {
  font-family: inherit;
  font-weight: inherit;
  font-size: 0.875em;
}
.shows ol > li + li {
  margin-top: 2.5em;
}
.shows h3 {
  color: rgb(153, 153, 153);
  margin: 0;
}
.shows .yellow h3 {
  color: rgb(255, 196, 12); /* @yellow */
}
.shows .red h3 {
  color: rgb(241, 97, 77); /* @red */
}
.shows .blue h3 {
  color: rgb(0, 84, 206); /* @blue */
}
.shows .green h3 {
  color: rgb(0, 174, 113); /* @green */
}
.shows .pink h3 {
  color: rgb(247, 170, 179); /* @pink */
}

.shows h4,
.playing strong {
  margin: 0;
  font-family: "Cactus W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em;
  line-height: 0.9;
  text-transform: uppercase;
}
@media (min-width: 60em) {
  .shows h4,
  .playing strong {
    font-size: 9.375em; /* 150px / 16px */
  }
}
.shows .location {
  line-height: 1;
  padding-bottom: 0.625em;
  border-bottom: 3px solid;
  margin-bottom: 0.3125em;
  margin-top: 0.625em;
  padding-top: 0.625em;
  border-top: 3px solid;
}
.playing {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.playing span {
  display: block;
  text-transform: uppercase;
  font-size: 1.875em; /* 30px / 16px */
}
.playing strong {
  display: block;
  color: rgb(153, 153, 153);
  border-top: 3px solid black;
  margin-top: 0.05em;
  padding-top: 0.05em;
}
.shows .yellow .playing strong {
  color: rgb(255, 196, 12); /* @yellow */
}
.shows .red .playing strong {
  color: rgb(241, 97, 77); /* @red */
}
.shows .blue .playing strong {
  color: rgb(0, 84, 206); /* @blue */
}
.shows .green .playing strong {
  color: rgb(0, 174, 113); /* @green */
}
.shows .pink .playing strong {
  color: rgb(247, 170, 179); /* @pink */
}
.shows h3,
.shows .location,
.shows .featuring {
  font-size: 1.25em;
  line-height: 1;
}
.shows .featuring {
  margin-top: 0.625em;
  line-height: 1.25;
}
