

/* =Video List
----------------------------------------------- */
.goodfest-video-list {
  background: black;
  padding: 0 20px 20px;
}

.content-area .goodfest-video-list {
  margin-left: -20px;
  margin-right: -20px;
}

.goodfest-video-list > div {
  margin: 0;
  border-top: 1px solid black;
  width: 100%;
}
.goodfest-video-list > div + div {
  padding-top: 20px;
}

.goodfest-video-list > div > div {
  max-width: 100%;
  padding-bottom: 56.25%; /* 720px / 1280px */
  position: relative;
}

@media (min-width: 600px) {
  .goodfest-video-list {
    padding: 0 10px 20px;
  }
  .goodfest-video-list > div + div {
    padding-top: 0;
  }
  .goodfest-video-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .goodfest-video-list > div {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  .content-area .goodfest-video-list {
    margin-left: -60px;
    margin-right: -60px;
  }
}
@media (min-width: 960px) {
  .goodfest-video-list {
    padding: 0 50px 40px;
  }
}

.goodfest-video-list iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.goodfest-video-list .video-link a {
  max-width: 768px;
  display: block;
  position: relative;
}
.goodfest-video-list .video-link a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.goodfest-video-list .video-link h3 {
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  line-height: 1;
  margin: -0.5em 0 0;
}
.goodfest-video-list .video-link ul,
.goodfest-video-list .video-link li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.goodfest-video-list .video-link a:after {
  content: "";
  display: table;
  clear: both;
}
.goodfest-video-list .video-link li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}
.goodfest-video-list .video-link li:nth-child(2n+1) {
  clear: both;
}
.goodfest-video-list .video-link li:first-child {
  padding-left: 0;
}
.goodfest-video-list .video-link li:last-child {
  padding-right: 0;
}
.goodfest-video-list .video-link div {
  padding-bottom: 56.25%; /* 720px / 1280px */
  position: relative;
}
.goodfest-video-list .video-link img {
  position: absolute;
  display: block;
  width: auto;
  height: 100%;
}
@supports(object-fit: cover) {
  .goodfest-video-list .video-link img {
    width: 100%;
    object-fit: cover;
  }
}
